/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900 */

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.noto-serif-heading {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
  
.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}
  
.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}
  
.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}


.honk-heading {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* // <uniquifier>: Use a uniquifier for the class name */

.sixtyfour-art {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

/* custom css */
img {
    width: 100%;
}

.Hero-section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: relative;
    /*adjust this number in media queries */
}

.introducer {
    width: 100%;
    padding: 20px;
    transform: translateY(100%);
    margin-bottom: 50px;
}
.hero-txt-image {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    top:50%; 
    transform:translateY(-50%);
}
.hero-bottom {
    width: 100%;
    height: 5vw;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(rgba(255,0,0,0), #41465a, #36454f);
}

.title {
    font-size: 4em;
}

.subtitle {
    font-size: 2em;
    color: white;
}

.main-text {
    font-size: 1.4em;
    padding: 20px;
    margin: 10px;
    color: #C0C0C0;
}

.main-box {
    /* background-color: hsla(278, 91%, 62%, 0.9); */
    border-radius: 20px;
    max-width: 900px;
    height: 150%;
    margin-top: -120px;
    background-size:cover;
    padding:2em;
}

.main-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
   
    /* backdrop-filter: blur(40px);
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 33%); */
}

.two-section-holder {
    background-size:cover;
    background-repeat: no-repeat;
    background-color:#4b616f;
   
}

.Call-to-action,
.story-board,
.cta3,
.reviews {
    padding: 20px;
}

.image-holder {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.image-2 {
    object-fit: cover;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 13px 6px -7px rgba(0,0,0,0.09);
}

.cta-2 {
    color: black;
    margin-top: -120px;
    margin-bottom: 100px;
    padding: 3px;
    font-size: x-large;
    text-align: center;
}

.story-title,
.story-text {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: .5rem;
}
.story-text {
    font-size: 1.5rem;
    color: #C0C0C0;  
}

.story-title {
    text-transform: uppercase;
    color:#ffff;
    font-size: 1.0rem;
}
.top-heading {
    text-transform: uppercase !important;
}
.second-part{
    background-size:cover;
    background-repeat: no-repeat;
}

.story-wrapper {
    border-left: solid 5px;
    border-color: hsla(278, 91%, 62%, 1);
    padding-left: 10px;
    max-width: 597px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8em;
}

.cta3,
.top-heading {
    text-align: center;
}

.last-cta {
    font-weight: 700;
    margin-bottom: 20px;
    color: #f5f2f2;

}

.try-cta {
    color: rgb(255, 255, 255);
}

.rev {
    max-width: 436px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

.btn-call {
    background-color: #800080;
    padding: 15px 15px;
    margin: 9px;
    border: none;
    font-size: 1.6rem;
    border-radius: 10px;
    box-shadow: 0 13px 6px -7px rgba(0,0,0,0.09);
}
a {
    text-decoration: none;
}
.text-container, .atribution{
    display: flex;
    justify-content: flex-end;
}
.quote-box {
    max-width: 1000px;
    margin-left: 0px;
    background-color: #C0C0C0;
    margin-top:-120px;
    border-radius: 10px 0px 0px 10px;
    padding:20px;
    box-shadow: 0 13px 6px -7px rgba(0,0,0,0.09);

}

.quote-text {
    padding:1.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1.5rem;
    padding-right:1.5rem;
    border-left: solid 5px;
    border-color: hsla(278, 91%, 62%, 1);
    font-size:2rem;
}
.atribution {
    font-style: italic;
    font-size:1.5rem;
    font-weight: 100;
}
@keyframes grow-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .btn-call {
    animation: grow-shrink 2s infinite;
  }
  @keyframes shrink-grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7)
    }
    100% {
        transform: 1;
    }
  }
  .cta-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#C0C0C0;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom:5rem;
    animation: shrink-grow 2s infinite;
}
p>a {
    color:#C0C0C0;
}
 
.foots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    height: 30vh;
}
.icon {
    margin:10px;
    font-size: 2.5em;
}
.bi {
    color: #800080;
}
@media screen and (min-width:750px) {
    .Hero-section {
        background-position: 77% 15%;
    }
}

@media screen and (min-width: 490px) {
    .cta-1 {
        font-size: 3em;
    }
    .rev {
        font-size:1.3rem;
    }
}

@media screen and (max-width:768px) {
    .quote-text {
        font-size: 1.2rem;
    }
    .atribution {
        font-size: 1rem;
    }
    .hero-txt-image {
        top:auto;
        bottom:0;
    }

}